<header class="header">
  {{!-- <img
    class="header__bg"
    src="../assets/images/over_the_garden_wall.jpg"
    alt="Ilustration"
  /> --}}

  <div class="header__content">
    <div class="header__info">
      <h2 class="header__title">Plots</h2>
      <p class="header__subtitle">Thought, stories and ideas.</p>
    </div>

    {{> "nav"}}
  </div>
</header>