<section class="active-games">
  <div class="title title_brown">
    <div class="title__highlight"></div>
    <h2 class="title__text">Active games</h2> 
  </div>
  
  <div class="active-games__posts">
    {{#get "posts" filter="tags:active-game" }}
    {{#foreach posts }}
      <div class="active-games__post">
        {{> "post-card-large"}}
      </div>
    {{/foreach}}
    {{/get}}
</div>
</section>