<section class="paused-games">
  <div class="container">
    <h2 class="title">Paused games</h2>
    
    <div class="paused-games__posts">
      {{#get "posts" filter="tags:active-game" }}
      {{#foreach posts }}

        <div class="paused-games__post ">
          {{> "post-card" additionalClass="post-card_sepia post-card_small"}}
        </div>
      {{/foreach}}
      {{/get}}
    </div>
  </div>
</section>