<section class="planned-games">
  <div class="container">
    <h2 class="title">Planned games</h2>
    
    <div class="planned-games__posts">
      {{#get "posts" filter="tags:planned-game" }}
      {{#foreach posts }}
        <div class="planned-games__post">
          {{> "post-card" additionalClass="post-card_long"}}
        </div>
      {{/foreach}}
      {{/get}}
    </div>
  </div>
</section>