.header {
  position: relative;
  color: $sepia;
  font-weight: 700;
  letter-spacing: 1.5px;

  &__bg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  &__title {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 120%;
  }

  &__subtitle {
    margin: 0 auto;
    font-size: 20px;
    line-height: 120%;
  }
}