.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: $sepia;
  font-weight: 700;
  letter-spacing: 1.5px;
  z-index: 1;

  &__content {
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  &__title {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 120%;
  }

  &__subtitle {
    margin: 0 auto;
    font-size: 20px;
    line-height: 120%;
  }
}