<section class="active-games">
  <div class="container">
    <h2 class="title">Active games</h2>
    
    <div class="active-games__posts">
      {{#get "posts" filter="tags:active-game" }}
      {{#foreach posts }}
        <div class="active-games__post">
          {{> "post-card"}}
        </div>
      {{/foreach}}
      {{/get}}
    </div>
  </div>
</section>