<footer class="footer">
  <div class="footer__wave">
    <svg viewBox="0 0 1756 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 17H1756C1756 17 1756 -3.03023 1756 6.97913C1736.48 4.35991 1663.61 6.97974 1643.9 6.97974C1624.18 6.97974 1614.49 -4.77135e-05 1595 0C1568.76 6.42508e-05 1532.7 4.25453 1506.45 3.97633C1472.04 3.61169 1473.01 13.578 1439.29 6.97913C1428.48 4.86329 1414.79 12.9985 1403.75 12.9847C1387.77 12.9648 1348.11 5.12883 1332.16 5.97777C1294.53 7.97964 1298.97 17.3741 1261.6 16.9885C1224.32 16.6037 1221.52 2.84641 1184.25 3.97578C1103.97 6.40862 1100.88 5.28783 1021.2 14.9866C991.931 18.5488 919.546 11.8257 820.512 12.9847C746.186 13.8546 787.074 3.11608 712.852 6.97913C686.121 8.37043 583.243 16.9885 534.117 16.9885C497.167 16.9885 512.528 14.4058 475.583 14.9866C412.867 15.9726 324.312 10.6731 293.189 14.4862C271.527 17.1402 259.082 16.0047 237.269 14.9866C218.811 14.1251 198.709 3.47748 170.374 1.97416C142.724 0.507187 120.202 12.9847 101.388 12.9847C48.8959 12.9847 0 6.97913 0 6.97913V17Z"
        fill="#BDA29D"></path>
    </svg>
  </div>

  <div class="footer__container">
    <div class="container">
      <div class="footer__content">
        <p class="footer__text">
          All content copyright Plots © 2021
          <br />
          All rights reserved.
        </p>

        <div class="footer__info">
          <p class="footer__text">
            Created by
            <br/>
            Chef Pinguin
          </p>
          <img class="footer__creator-img" alt="Chef Pinguin" src="/assets/images/creator.png" />
        </div>
      </div>
    </div>
  </div>
</footer>